<style type="text/css">
  #infobox-wrap {
    width: 760px;
  }

  #infobox-body {
    background: #FFFFFF;
    color: #000000;
    padding: 1em;
    height: 400px;
    overflow: auto;
    border: 1px inset #000000;
  }

  #infobox-body p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
</style>

<br/>
<div id="infobox-wrap" class="bCenter row1">
  <fieldset class="pad_6">
    <legend class="med bold mrg_2 warnColor1"><!-- IF PAGE_TITLE -->{PAGE_TITLE}<!-- ENDIF --></legend>
    <!-- IF REQUIRE -->
    <div class="bCenter">{REQUIRE}</div>
    <!-- ENDIF -->
  </fieldset>
  <p class="gen tRight pad_6"><a href="javascript:window.close();" class="gen">[ {L_LOCK} ]</a>
  </p>
</div><!--/infobox-wrap-->
<br/>
