<div>
	<h3>BitTorrentのお客様</h3>
	<ul>
		<li><a rel="nofollow" href="http://www.utorrent.com/" class="med"><b>µTorrent</b></a></li>
		<li><a rel="nofollow" href="http://www.bittorrent.com/" class="med"><b>BitTorrent</b></a></li>
		<li><a rel="nofollow" href="https://transmissionbt.com/" class="med"><b>Transmission</b></a></li>
	</ul>
</div>

<br />

<div>
	<h3>FAQ</h3>
	<ul class="med">
		<li><a href="info.php?show=user_agreement" class="med" onclick="window.open(this.href, '', IWP); return false;"><b>利用規約</b></a></li>
		<li><a href="https://torrentpier.com/threads/260" class="med">初心者のためのFAQ</a></li>
		<li><a href="https://torrentpier.com/forums/10" class="med">質問はどこにありますか。</a></li>
	</ul>
</div>

<br />

<img width="210" class="spacer" src="./styles/images/spacer.gif" alt="" />
