/*
 * TorrentPier – Bull-powered BitTorrent tracker engine
 *
 * @copyright Copyright (c) 2005-2023 TorrentPier (https://torrentpier.com)
 * @link      https://github.com/torrentpier/torrentpier for the canonical source repository
 * @license   https://github.com/torrentpier/torrentpier/blob/master/LICENSE MIT License
 */

var.ajax-params {
  display: none;
}

#ajax-loading, #ajax-error {
  display: none;
  position: fixed;
  float: right;
  top: 0 !important;
  z-index: 2000;
  padding: 6px;
  color: white;
  font-size: 11px;
  min-width: 80px;
  min-height: 30px;
  white-space: nowrap;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
}

#ajax-loading {
  background: rgba(0, 0, 0, 0.5) url(../images/loading.gif) no-repeat center center;
}

#ajax-error {
  background: #d32031;
}

.editable-container {
  cursor: pointer;
}

.editable-container:hover {
  background: #E8E9F8;
}

.loading-1 {
  background: transparent url(../images/loading.gif) no-repeat left center;
  padding-left: 22px;
}
